<h1>Editing Comment #<%= @comment.id %></h1>

<form action="/comments/<%= @comment.id %>/update">
  <div>
    <label for="post_id">post_id</label><br />
    <input id="post_id" name="post_id" value="<%= @comment.post_id  %>" type="text" />
  </div>
  <div>
    <label for="user_id">user_id</label><br />
    <input id="user_id" name="user_id" value="<%= @comment.user_id  %>" type="text" />
  </div>
  <div>
    <label for="content">content</label><br />
    <input id="content" name="content" value="<%= @comment.content  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


